extends ../layout

block content
  div.container
    div(ng-app='imageApp' ng-controller='imageUploadCtrl')
    
      div.col-md-6
        img(ng-src="{{imageSrc}}" style="max-width: 100%")
        
      div.col-md-6
        h3(style="text-align:center;") Upload an Image
        form(enctype="multipart/form-data")
          div.form-group
            label.file(style="width:100%;")
              input(type="file" id="imageFile" ng-file-select="onFileSelect($file)" file-model="imageFile")
              span.file-custom
          div.form-group
            label Title
            input(ng-model="imageTitle").form-control
          div.form-group
            label Caption
            input(ng-model="imageCaption").form-control
          div.form-group
            label ZIP
            input(ng-model="imageZip" type="Number").form-control
          div.form-group
            label Tags
            input(ng-model="imageTags").form-control
          div.form-group
            button(ng-click="uploadImage()").btn.btn-primary Upload
          
