.show.ng-enter{
  opacity: 0;
  animation: fadeInDownBig .5s;
  -webkit-animation: fadeInDownBig .5s;
}

.show.ng-enter.ng-enter-active {
    opacity: 1;
}

.show.ng-leave {
  animation: fadeOutUpBig .5s;
  -webkit-animation: fadeOutUpBig .5s;
  opacity: 1;
}

.show.ng-leave.ng-leave-active {
    opacity: 0;
}
