extends ../layout

block content
  div(ng-app='eventApp' ng-controller='createEventCtrl')
    div.container
    
      div.event-header.col-md-12
        h3(style="text-align:center;") Create an Event
        div(style="background-image:url({{imageSrc}});").event-img
        
      div.col-md-12
      
        form(enctype="multipart/form-data")
        
          div.form-group
            label.form-control-label Event Name
            input(ng-model="eventName").form-control
            
          div.form-group
            label.form-control-label Description
            input(ng-model="eventDesc").form-control        
            
          div.form-group
            label.form-control-label Event Image
            label.file(style="width:100%;")
              input(type="file" ng-file-select="onFileSelect($file)" file-model="eventImage")
              span.file-custom
              
          div.form-group
            label.form-control-label About
            input(ng-model="eventContent").form-control
            
          div.form-group
            label.form-control-label Location
            input(ng-model="eventLocation").form-control
            
          div.form-group
            label.form-control-label Date
            input(ng-model="eventDate").form-control
            
          div.form-group
            label.form-control-label Event Host
            input(ng-model="eventCreator" type="date").form-control
            
          div.form-group
            label.form-control-label ZIP
            input(ng-model="eventZip" type="number").form-control
            
          div.form-group
            label.form-control-label Tags
            input(ng-model="eventTags").form-control
            
          button(ng-click="createEvent()").btn.btn-primary.form-control 
            | Create Event
            
